$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.container-fluid {
  background: url('https://i.imgur.com/tiRVCet.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#title {
  text-align: center;
  font-size: 60px;
}
