$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.container-fluid {
  background: url('https://i.imgur.com/tiRVCet.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#title {
  text-align: center;
  font-size: 60px;
  font-family:"Open Sans"
}

h4{
  text-align: center;
  font-family:"Open Sans"
}

h2{
  text-align: center;
  font-family:"Open Sans"
}
.select-beer {
  display:block; /* change this from inline-block */
      width:20%; /* setting the width */
      margin:0 auto; /* this will center  it */
      position:relative;
      font-style:normal;
      font-weight:normal;
      font-family:"Open Sans";
      font-size:14px;
      outline:none;
      color:#fff;
      border:none;
      text-decoration:none;
      text-align:center;
      // cursor:pointer;
      -webkit-border-radius:2px;
      -moz-border-radius:2px;
      border-radius:2px;
      background-color:#96aa39;
      border-bottom:1px solid #7b8b2f;
  }

  .select-review {
    display:block; /* change this from inline-block */
        width:20%; /* setting the width */
        margin:0 auto; /* this will center  it */
        position:relative;
        font-style:normal;
        font-weight:normal;
        font-family:"Open Sans";
        font-size:14px;
        outline:none;
        color:#fff;
        border:none;
        text-decoration:none;
        text-align:center;
        // cursor:pointer;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
        background-color:#96aa39;
        border-bottom:1px solid #7b8b2f;

  }
  #showLocation {
    display:block; /* change this from inline-block */
        width:20%; /* setting the width */
        // position:relative;
        margin:0 auto;
        font-style:normal;
        font-weight:normal;
        font-family:"Open Sans";
        font-size:14px;
        outline:none;
        color:#fff;
        border:none;
        text-decoration:none;
        text-align:center;
        // cursor:pointer;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
        background-color:#96aa39;
        border-bottom:1px solid #7b8b2f;

  }
  #viewReviews {
    display:block; /* change this from inline-block */
        width:20%; /* setting the width */
        // position:relative;
        margin:0 auto;
        font-style:normal;
        font-weight:normal;
        font-family:"Open Sans";
        font-size:14px;
        outline:none;
        color:#fff;
        border:none;
        text-decoration:none;
        text-align:center;
        // cursor:pointer;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
        background-color:#96aa39;
        border-bottom:1px solid #7b8b2f;

  }

  .sucessCreate {
    display:block; /* change this from inline-block */
        width:20%; /* setting the width */
        // position:relative;
        margin:0 auto;
        font-style:normal;
        font-weight:normal;
        font-family:"Open Sans";
        font-size:14px;
        outline:none;
        color:#fff;
        border:none;
        text-decoration:none;
        text-align:center;
        // cursor:pointer;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
        background-color:#96aa39;
        border-bottom:1px solid #7b8b2f;
  }

.delete-reviews {
  display:block; /* change this from inline-block */
      width:20%; /* setting the width */
      // position:relative;
      margin:0 auto;
      font-style:normal;
      font-weight:normal;
      font-family:"Open Sans";
      font-size:14px;
      outline:none;
      color:#fff;
      border:none;
      text-decoration:none;
      text-align:center;
      // cursor:pointer;
      -webkit-border-radius:2px;
      -moz-border-radius:2px;
      border-radius:2px;
      background-color:#96aa39;
      border-bottom:1px solid #7b8b2f;
}
#createReview {
  margin:auto;
}

#center-form {
  margin: auto;
  width: 30%;
  text-align: center;
}

#auth-form {
  margin:0 auto;
}

#updateReview {
  margin: auto;
  width: 30%;
  text-align: center;
}

.sucessEdit {
  display:block; /* change this from inline-block */
      width:20%; /* setting the width */
      // position:relative;
      margin:0 auto;
      font-style:normal;
      font-weight:normal;
      font-family:"Open Sans";
      font-size:14px;
      outline:none;
      color:#fff;
      border:none;
      text-decoration:none;
      text-align:center;
      // cursor:pointer;
      -webkit-border-radius:2px;
      -moz-border-radius:2px;
      border-radius:2px;
      background-color:#96aa39;
      border-bottom:1px solid #7b8b2f;

}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
